### Weka ###
wekarefs/


### Java ###
*.class

# Package Files #
*.jar

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

### Eclipse ###
.classpath
.project
.settings/
bin/

### IntelliJ ###
.idea/
